*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-image: url(/images/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}
.container{
    border: 2px solid gray;
    border-radius: 5px;
    width: 350px;
    padding: 40px;
    box-sizing: content-box;
    font-family: Roboto;
    margin: 150px auto;
}
.heading{
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 5px;
}
.input-container{
    margin-bottom: 20px;
}
.input-group{
    margin: 0px auto 20px;
}
.input-label{
    display: block;
    margin-bottom: 5px;
}
.input-group .input,.input-group .select{
    width: 100%;
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    height: 50px;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
}
.input::placeholder{
    padding: 5px;
}
.select{
    appearance: none;
    background-image: url(/images/dropdown-arrow-svgrepo-com.svg);
    background-position: right 5px center;
    background-size: 20px;
    background-repeat: no-repeat;
    accent-color: black;
}
.checkbox-container{
    margin: 5px;
}
.checkbox{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid black;
}
.checkbox:checked{
    background-image: url(/images/check-bold.svg);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}
.checkbox-label{
    padding-left: 3px;
    user-select: none;
}
.btn{
    height: 50px;
    margin-left: auto;
    padding: 0 15px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    display: block;
}